<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>台账模板2</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="flexible" content="initial-dpr=2" />
		<link rel="stylesheet" href="../../plugin/flexible/flexible.css">
		<script src="../../plugin/flexible/flexible.js"></script>
		<link rel="stylesheet" href="../../plugin/dialog/dialog.css">
		<link rel="stylesheet" type="text/css" href="../../plugin/swiper/css/swiper-3.3.1.min.css" />
		<link rel="stylesheet" href="../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../css/general/general_templates.css"/>
		<link rel="stylesheet" type="text/css" href="css/edit.css" />
	</head>

	<body>
		<div class="enter">
			<div class="page">
				<header class ="head">
					<div class="header"><span>台账录入</span><a onclick="history.go(-1);"><span></span></a></div>
				</header>
			</div>
			<div class="heart swiper-container">
				<div class="swiper-wrapper">
					<div class="start swiper-slide">
						<img class="background-map" src="images/tax1.png" alt="背景图" />
						<div class="conent">
							<header>
								<img class="delete hide" src="../../images/account/gb.png" />
								<img class="fangDa hide" src="../../images/account/fd.png" />
								<div class="editable">关于税务系统<div>依法治税工作规划</div></div>
							</header>
							<div class="name">
								<img class="delete hide" src="../../images/account/gb.png" />
								<img class="fangDa hide" src="../../images/account/fd.png" />
								<p class="editable">机关党委办 赵虹飞</p>
							</div>
							<div class="time">
								<img class="delete hide" src="../../images/account/gb.png" />
								<img class="fangDa hide" src="../../images/account/fd.png" />
								<i class="left"></i>
								<p class="editable">2017.04.06</p><i></i>
							</div>
						</div>
					</div>
					<div class="two keFu swiper-slide">
						<img class="background-map" src="images/tax1-2.png" alt="背景图" />
						<img class="fuzhi" src="../../images/account/fuzhi.png" alt="" />
						<div class="conent">
							<ul>
								<li>
									<div class="words">
										<img class="delete hide" src="../../images/account/gb.png" />
										<img class="fangDa hide" src="../../images/account/fd.png" />
										<i></i><span>主题：</span><p class="editable">“十三五”时期税务系统全面推进依法治税工作规划的通知</p>
									</div>
								</li>
								<li>
									<div class="words">
										<img class="delete hide" src="../../images/account/gb.png" />
										<img class="fangDa hide" src="../../images/account/fd.png" />
										<i></i><span>人物：</span><p class="editable">赵虹飞</p>
									</div>
								</li>
								<li>
									<div class="words">
										<img class="delete hide" src="../../images/account/gb.png" />
										<img class="fangDa hide" src="../../images/account/fd.png" />
										<i></i><span>亮点：</span><p class="editable">国税系统 示范基地</p>
									</div>
								</li>
								<li>
									<div class="words">
										<img class="delete hide" src="../../images/account/gb.png" />
										<img class="fangDa hide" src="../../images/account/fd.png" />
										<i></i><span>指示：</span><p class="editable">贯彻落实（国务院关于做好自由贸易试验区新一批改革试点经验复制推广工作的通知）</p>
									</div>
								</li>
							</ul>
							<div class="head">
								<img class="odd-img" src="images/tax2.png" />
								<div class="bendi">
									<div class="bendi-heart">
										<form class="form">
											<input class="shangchuan" type="file" name="file" accept="image/*;capture=camera" onchange="imgChange(this)">
											<img class="huan" src="../../images/account/huan.png"/>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="three keFu swiper-slide">
						<img class="background-map" src="images/tax1-2.png" alt="背景图" />
						<img class="fuzhi" src="../../images/account/fuzhi.png" alt="" />
						<div class="conent">
							<header><i></i>活动照片</header>
							<ul>
								<li>
									<div class="head">
										<img class="odd-img" src="images/tax3.png" />
										<div class="bendi">
											<div class="bendi-heart">
												<form class="form">
													<input class="shangchuan" type="file" name="file" accept="image/*;capture=camera" onchange="imgChange(this)">
													<img class="huan" src="../../images/account/huan.png"/>
												</form>
											</div>
										</div>
									</div>
									<div class="words">
										<img class="delete hide" src="../../images/account/gb.png" />
										<img class="fangDa hide" src="../../images/account/fd.png" />
										<p class="editable">请输入照片内容介绍</p>
									</div>
								</li>
								<li>
									<div class="head">
										<img class="odd-img" src="images/tax4.png" />
										<div class="bendi">
											<div class="bendi-heart">
												<form class="form">
													<input class="shangchuan" type="file" name="file" accept="image/*;capture=camera" onchange="imgChange(this)">
													<img class="huan" src="../../images/account/huan.png"/>
												</form>
											</div>
										</div>
									</div>
									<div class="words">
										<img class="delete hide" src="../../images/account/gb.png" />
										<img class="fangDa hide" src="../../images/account/fd.png" />
										<p class="editable">请输入照片内容介绍</p>
									</div>
								</li>
								<li>
									<div class="head">
										<img class="odd-img" src="images/tax5.png" />
										<div class="bendi">
											<div class="bendi-heart">
												<form class="form">
													<input class="shangchuan" type="file" name="file" accept="image/*;capture=camera" onchange="imgChange(this)">
													<img class="huan" src="../../images/account/huan.png"/>
												</form>
											</div>
										</div>
									</div>
									<div class="words">
										<img class="delete hide" src="../../images/account/gb.png" />
										<img class="fangDa hide" src="../../images/account/fd.png" />
										<p class="editable">请输入照片内容介绍</p>
									</div>
								</li>
								<li>
									<div class="head">
										<img class="odd-img" src="images/tax6.png" />
										<div class="bendi">
											<div class="bendi-heart">
												<form class="form">
													<input class="shangchuan" type="file" name="file" accept="image/*;capture=camera" onchange="imgChange(this)">
													<img class="huan" src="../../images/account/huan.png"/>
												</form>
											</div>
										</div>
									</div>
									<div class="words">
										<img class="delete hide" src="../../images/account/gb.png" />
										<img class="fangDa hide" src="../../images/account/fd.png" />
										<p class="editable">请输入照片内容介绍</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="odd swiper-slide">
						<img class="background-map" src="images/tax1-2.png" alt="背景图" />
						<div class="content">
							<header>
								<div class="head">
									<img class="odd-img" src="images/tax7.png" />
									<div class="bendi">
										<div class="bendi-heart">
											<form class="form">
												<input class="shangchuan" type="file" name="file" accept="image/*;capture=camera" onchange="imgChange(this)">
												<img class="huan" src="../../images/account/huan.png"/>
											</form>
										</div>
									</div>
								</div>
							</header>
							<div class="main">谢谢观看！</div>
							<footer>
								<a class="label">指标和标签</a>
								<form id="edit">
									<div class="save"  onclick="edit()">保存台账</div>
									<input id="content" type="text" name="content" class="hide" >
								</form>
							</footer>
						</div>
					</div>
				</div>
				
				<div class="pop hide">
					<div class="labels">
						<header><img class="left" src="../../images/account/return.png" /><span>请选择标签</span><img class="right" src="../../images/account/return.png" /></header>
						<ul></ul>
						<footer>
							<a class="no">取消</a>
							<a class="yes">确定</a>
						</footer>
					</div>
					<div class="inde hide">
						<header><img class="left" src="../../images/account/return.png" /><span>请选择指标</span><img class="right" src="../../images/account/return.png" /></header>
						<ul></ul>
						<footer>
							<a class="no">取消</a>
							<a class="yes">确定</a>
						</footer>
					</div>
				</div>
				<div class="input-box hide">
					<div class="input-heart">
						<img class="shan" src="../../images/account/guan.png" />
						<div class="enter" contenteditable="true"></div>
						<div class="box"><img class="input-yes" src="../../images/account/dui.png" /></div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../plugin/zepto/zepto.js"></script>
		<script src="../../plugin/zepto/event.js"></script>
		<script src="../../plugin/zepto/touch.js"></script>
		<script src="../../plugin/dialog/dialog.js"></script>
		<script src="../../plugin/swiper/js/swiper-3.3.1.min.js"></script>
		<script src="../../plugin/cookie/zepto.cookie.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common.js"></script>
		<script src="js/edit.js"></script>
	</body>

</html>