<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>台账详情2</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="flexible" content="initial-dpr=2" />
		<link rel="stylesheet" href="../../plugin/flexible/flexible.css">
		<script src="../../plugin/flexible/flexible.js"></script>
		<link rel="stylesheet" type="text/css" href="../../plugin/swiper/css/swiper-3.3.1.min.css" />
		<link rel="stylesheet" href="../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../css/general/general_templates.css"/>
		<link rel="stylesheet" type="text/css" href="css/show.css" />
	</head>

	<body>
		<div class="enter">
			<div class="page">
				<header class ="head">
					<div class="header"><span>一带一路</span><a onclick="history.go(-1);"><span></span></a></div>
				</header>
			</div>
			<div class="heart swiper-container">
				<div class="swiper-wrapper">
					<div class="start swiper-slide">
						<img class="background-map" src="images/tax1.png" alt="背景图" />
						<div class="conent">
							<header>
								<div class="words"></div>
							</header>
							<div class="name">
								<p class="words"></p>
							</div>
							<div class="time">
								<i class="left"></i>
								<p class="words"></p>
								<i></i>
							</div>
						</div>
					</div>
					<div class="two keFu swiper-slide">
						<img class="background-map" src="images/tax1-2.png" alt="背景图" />
						<div class="conent">
							<ul>
								<li><i></i><span>主题</span><b>：</b>
									<p class="words"></p>
								</li>
								<li><i></i><span>人物</span><b>：</b>
									<p class="words"></p>
								</li>
								<li><i></i><span>亮点</span><b>：</b>
									<p class="words"></p>
								</li>
								<li><i></i><span>指示</span><b>：</b>
									<p class="words"></p>
								</li>
							</ul>
							<div class="head">
								<img class="odd-img" src="" />
							</div>
						</div>
					</div>
					<div class="three keFu swiper-slide">
						<img class="background-map" src="images/tax1-2.png" alt="背景图" />
						<div class="conent">
							<header><i></i>活动照片</header>
							<ul>
								<li>
									<div class="head">
										<img class="odd-img" />
									</div>
									<div class="words">
										<p class="words"></p>
									</div>
								</li>
								<li>
									<div class="head">
										<img class="odd-img" />
									</div>
									<div class="words">
										<p class="words"></p>
									</div>
								</li>
								<li>
									<div class="head">
										<img class="odd-img"/>
									</div>
									<div class="words">
										<p class="words"></p>
									</div>
								</li>
								<li>
									<div class="head">
										<img class="odd-img" />
									</div>
									<div class="words">
										<p class="words"></p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="odd swiper-slide">
						<img class="background-map" src="images/tax1-2.png" alt="背景图" />
						<div class="content">
							<header>
								<div class="head">
									<img class="odd-img" />
								</div>
							</header>
							<div class="main">谢谢观看！</div>
							<div class="features">
								<a class="comment unite"><i></i><span>评论<span class="quantity">30</span></span></a>
								<a class="like"><i></i><span>点赞<span class="quantity">30</span></span></a>
								<a class="collect unite"><i></i><span>收藏<span class="quantity">30</span></span></a>
							</div>
							<footer>
								<a class="label">指标和标签</a>
								<a onclick="history.go(-1);" class="save">返回</a>
							</footer>
						</div>
					</div>
				</div>

				<div class="pop hide">
					<div class="labels">
						<header><img class="left" src="../../images/account/return.png" /><span>标签</span><img class="right" src="../../images/account/return.png" /></header>
						<ul></ul>
						<footer>
							<a>返回</a>
						</footer>
					</div>
					<div class="inde hide">
						<header><img class="left" src="../../images/account/return.png" /><span>指标</span><img class="right" src="../../images/account/return.png" /></header>
						<ul></ul>
						<footer>
							<a>返回</a>
						</footer>
					</div>
				</div>
				<div class="input-box hide">
					<div class="input-heart">
						<img class="shan" src="../../images/account/guan.png" />
						<div class="enter" contenteditable="true"></div>
						<div class="box"><img class="input-yes" src="../../images/account/dui.png" /></div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../plugin/zepto/zepto.js"></script>
		<script src="../../plugin/zepto/event.js"></script>
		<script src="../../plugin/zepto/touch.js"></script>
		<script src="../../plugin/swiper/js/swiper-3.3.1.min.js"></script>
		<script src="../../plugin/cookie/zepto.cookie.min.js"></script>
		<script src="../../js/common.js"></script>
		<script src="js/show.js"></script>
	</body>

</html>