<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>台账模板5</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="flexible" content="initial-dpr=2" />
		<link rel="stylesheet" href="../../plugin/flexible/flexible.css">
		<script src="../../plugin/flexible/flexible.js"></script>
		<link rel="stylesheet" href="../../plugin/dialog/dialog.css">
		<link rel="stylesheet" type="text/css" href="../../plugin/swiper/css/swiper-3.3.1.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../css/general/general_templates.css"/>
		<link rel="stylesheet" type="text/css" href="css/edit.css"/>
	</head>
		
	<body>
		<div class="enter">
			<div class="page">
				<header class ="head">
					<div class="header"><span>台账录入</span><a onclick="history.go(-1);"><span></span></a></div>
				</header>
			</div>
			<div class="heart swiper-container">
				<div class="swiper-wrapper">
					<div class="start swiper-slide">
						<img class="background-map" src="images/back3.png" alt="背景图" />
						 <div class="conent">
							<header class="head">
								<div class="head-img">
									<img class="logo" src="images/logo.png" alt="头像" />
									<div class="bendi">
										<div class="bendi-heart">
											<form class="form">
												<input class="shangchuan" type="file" name="file" accept="image/*;capture=camera" onchange="imgChange(this)">
												<img class="huan" src="../../images/account/huan.png"/>
											</form>
										</div>
									</div>
								</div>
								<p class="editable"><span class="name">李克强</span><span class="duties">总理</span></p>
							</header>
							<section>
								<header>
									<img class="delete hide" src="../../images/account/gb.png"/>
									<img class="fangDa hide" src="../../images/account/fd.png"/>
									<div class="words editable">2014年博鳌亚洲论坛年会开幕大会上，李克强总理</div>
								</header>
								<div class="text">
									<img class="delete hide" src="../../images/account/gb.png"/>
									<img class="fangDa hide" src="../../images/account/fd.png"/>
									<div class="words editable">以“共同开创亚洲发展的新未来” 为题发表演讲，全面阐述了中国打亚洲合作政策，并强调要推进“一带一路”的建设。</div>
								</div>
							</section>
							<footer>
								<div class="footer-heart">
									<img class="footer-img" src="images/boao.png"/>
									<div class="bendi">
										<div class="bendi-heart">
											<form class="form">
												<input class="shangchuan" type="file" name="file" accept="image/*;capture=camera" onchange="imgChange(this)">
												<img class="huan" src="../../images/account/huan.png"/>
											</form>
										</div>
									</div>
								</div>
							</footer>
						</div>
					</div>
					<div class="two keFu swiper-slide">
						<img class="background-map" src="images/back2.png" alt="背景图" />
						<img class="fuzhi" src="../../images/account/fuzhi.png" alt="" />
						<div class="conent">
							<header class="head">
								<div class="words">
									<div class="time">
										<img class="delete hide" src="../../images/account/gb.png"/>
										<img class="fangDa hide" src="../../images/account/fd.png"/>
										<p class="editable">2017/4/5&nbsp;18:20</p>
									</div>
									<div class="diDdian">
										<img class="delete hide" src="../../images/account/gb.png"/>
										<img class="fangDa hide" src="../../images/account/fd.png"/>
										<p class="editable">金橙会议厅</p>
									</div>
									<div class="renYuan">
										<img class="delete hide" src="../../images/account/gb.png"/>
										<img class="fangDa hide" src="../../images/account/fd.png"/>
										<p class="editable">香洲区局党组全体成员</p>
									</div>
								</div>
							</header>
							<section>
								<div class="explanation">
									<img class="delete hide" src="../../images/account/gb.png"/>
									<p class="editable">二十一世纪海上丝绸之路</p>
								</div>
								<div class="theme">
									<img class="delete hide" src="../../images/account/gb.png"/>
									<p class="editable">解读一路一带</p>
								</div>
							</section>
						</div>
					</div>
					<div class="three keFu swiper-slide">
						<img class="background-map" src="images/back4.png" alt="背景图" />
						<img class="fuzhi" src="../../images/account/fuzhi.png" alt="" />
						<div class="content">
							<img class="delete hide" src="../../images/account/gb.png"/>
							<img class="fangDa hide" src="../../images/account/fd.png"/>
							<div class="words editable"><p>“一带一路”是指</p><p>“丝绸之路经济带”和“21世纪海上丝绸之路”，</p><p>他将充分依靠中国与有关国家既有的双多边机制，</p><p>借助既有的、行之有效的区域合作平台</p><p>“一带一路”的建设不仅不会与上海合作组织、欧亚经济联盟、</p><p>中国-东盟（10+1）等既有合作机制阐述重叠或竞争，</p><p>还会为这些机制注入新的内涵和活力</p></div>
						</div>
					</div>
					<div class="odd swiper-slide">
						<img class="background-map" src="images/back1.png" alt="背景图" />
						<div class="content">
							<header>
								<div class="head">
									<img class="odd-img" src="images/we.png"/>
									<div class="bendi">
										<div class="bendi-heart">
											<form class="form">
												<input class="shangchuan" type="file" name="file" accept="image/*;capture=camera" onchange="imgChange(this)">
												<img class="huan" src="../../images/account/huan.png"/>
											</form>
										</div>
									</div>
								</div>
							</header>
							<div class="main">会议圆满成功！</div>
							<footer>
								<a class="label">指标和标签</a>
								<form id="edit">
									<div class="save"  onclick="edit()">保存台账</div>
									<input id="content" type="text" name="content" class="hide" >
								</form>
							</footer>
						</div>
					</div>
				</div>
				<div class="pop hide">
					<div class="labels">
						<header><img class="left" src="../../images/account/return.png"/><span>请选择标签</span><img class="right" src="../../images/account/return.png"/></header>
						<ul></ul>
						<footer>
							<a class="no">取消</a>
							<a class="yes">确定</a>
						</footer>
					</div>
					<div class="inde hide">
						<header><img class="left" src="../../images/account/return.png"/><span>请选择指标</span><img class="right" src="../../images/account/return.png"/></header>
						<ul></ul>
						<footer>
							<a class="no">取消</a>
							<a class="yes">确定</a>
						</footer>
					</div>
				</div>
				<div class="input-box hide">
					<div class="input-heart">
						<img class="shan" src="../../images/account/guan.png"/>
						<div class="enter" contenteditable="true"></div>
						<div class="box"><img class="input-yes" src="../../images/account/dui.png"/></div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../plugin/zepto/zepto.js"></script>
		<script src="../../plugin/zepto/event.js"></script>
		<script src="../../plugin/zepto/touch.js"></script>
		<script src="../../plugin/dialog/dialog.js"></script>
		<script src="../../plugin/swiper/js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugin/cookie/zepto.cookie.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common.js"></script>
		<script src="js/edit.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>