<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>台账详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="flexible" content="initial-dpr=2" />
		<link rel="stylesheet" href="../../plugin/flexible/flexible.css">
		<script src="../../plugin/flexible/flexible.js"></script>
		<link rel="stylesheet" type="text/css" href="../../plugin/swiper/css/swiper-3.3.1.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../css/general/general_templates.css"/>
		<link rel="stylesheet" type="text/css" href="css/show.css"/>
	</head>
		
	<body>
		<div class="enter">
			<div class="page">
				<header class ="head">
					<div class="header"><span>一带一路</span><a onclick="history.go(-1);"><span></span></a></div>
				</header>
			</div>
			<div class="heart swiper-container">
				<div class="swiper-wrapper">
					<div class="start swiper-slide">
						<img class="background-map" src="images/back3.png" alt="背景图" />
						 <div class="conent">
							<header class="head">
								<div class="head-img">
									<img class="logo" src="" alt="头像" />
								</div>
								<p class="editable"></p>
							</header>
							<section>
								<header  class="editable"></header>
								<div class="text">
									<div class="words editable"></div>
								</div>
							</section>
							<footer>
								<div class="footer-heart">
									<img class="footer-img" src=""/>
								</div>
							</footer>
						</div>
					</div>
					<div class="two keFu swiper-slide">
						<img class="background-map" src="images/back2.png" alt="背景图" />
						<div class="conent">
							<header class="head">
								<div class="words">
									<time class="time"></time>
									<p class="diDdian"></p>
									<p class="renYuan"></p>
								</div>
							</header>
							<section>
								<div class="explanation">
									<p class="editable"></p>
								</div>
								<div class="theme">
									<p class="editable"></p>
								</div>
							</section>
						</div>
					</div>
					<div class="three keFu swiper-slide">
						<img class="background-map" src="images/back4.png" alt="背景图" />
						<div class="content">
							<div class="words editable"></div>
						</div>
					</div>
					<div class="odd swiper-slide">
						<img class="background-map" src="images/back1.png" alt="背景图" />
						<div class="content">
							<header>
								<div class="head">
									<img class="odd-img" src=""/>
								</div>
							</header>
							<div class="main">会议圆满成功！</div>
							<div class="features">
								<a class="comment unite"><i></i><span>评论<span class="quantity">0</span></span></a>
								<a class="like"><i></i><span>点赞<span class="quantity">0</span></span></a>
								<a class="collect unite"><i></i><span>收藏<span class="quantity">0</span></span></a>
							</div>
							<footer>
								<a class="label">指标和标签</a>
								<a onclick="history.go(-1);" class="save">返回</a>
							</footer>
						</div>
					</div>
				</div>
				<div class="pop hide">
					<div class="labels">
						<header><img class="left" src="../../images/account/return.png"/><span>标签</span><img class="right" src="../../images/account/return.png"/></header>
						<ul>
							<!--<li>主体责任落实</li>-->
							<!--<li>明主（组织）生活会</li>-->
							<!--<li>中心组学习</li>-->
							<!--<li>下抓两级机制落实</li>-->
							<!--<li>监督执纪</li>-->
							<!--<li>入党思想心得</li>-->
							<!--<li>日常学习心得</li>-->
							<!--<li>品牌创新</li>-->
							<!--<li>干部关爱</li>-->
							<!--<li>文明创建</li>-->
							<!--<li>三会一课</li>-->
							<!--<li>廉政谈话</li>-->
							<!--<li>其他类别</li>-->
						</ul>
						<footer>
							<a class="no">取消</a>
							<a class="yes">确定</a>
						</footer>
					</div>
					<div class="inde hide">
						<header><img class="left" src="../../images/account/return.png"/><span>指标</span><img class="right" src="../../images/account/return.png"/></header>
						<ul>
							<!--<li class="inde-xuan"><img src="../../images/account/dui.png"/>坚持党的领导，落实党的理论和路线方针政策</li>-->
							<!--<li><img class="hide" src="../../images/account/dui.png"/>坚持全面从严治党，对标“三个六” 主体责任法则落实管党治党责任</li>-->
							<!--<li><img class="hide" src="../../images/account/dui.png"/>坚持民主集中制，确保党组的活力和党的团结统一</li>-->
							<!--<li><img class="hide" src="../../images/account/dui.png"/>坚持发挥党领导核心作用，深度推进党业融合</li>-->
						</ul>
						<footer>
							<a class="no">取消</a>
							<a class="yes">确定</a>
						</footer>
					</div>
				</div>
				<div class="input-box hide">
					<div class="input-heart">
						<img class="shan" src="../../images/account/guan.png"/>
						<div class="enter" contenteditable="true"></div>
						<div class="box"><img class="input-yes" src="../../images/account/dui.png"/></div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../plugin/zepto/zepto.js"></script>
		<script src="../../plugin/zepto/event.js"></script>
		<script src="../../plugin/zepto/touch.js"></script>
		<script src="../../plugin/swiper/js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugin/cookie/zepto.cookie.min.js"></script>
		<script src="../../js/common.js"></script>
		<script src="js/show.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>