/*-------------------顶部和初始化-----------*/

.recording,
body,
html {
	width: 100%;
	height: 100%;
}

.recording .heart {
	width: 100%;
	height: 100%;
}


/*-------------------颜色设置-----------*/

.dots {
	width: 0.4rem;
	height: 0.4rem;
	background-size: cover;
}

.red {
	background-image: url(../../images/party_group/red.png);
}

.blue {
	background-image: url(../../images/party_group/blue.png);
}

.green {
	background-image: url(../../images/party_group/green.png);
}


/*-------------------头部-----------------*/

.recording .topHeader {
	width: 100%;
	height: 2.4rem;
	background-color: #E2E2E2;
	padding: 0.3rem;
	font-size: 0.34rem;
	position:relative;
}

.topHeader .introduction {
	position: absolute;
	top: 0.3rem;
	left: 0.3rem;
	color: #333;
	line-height: 0.6rem;
}

.topHeader .introduction>div {
	position: relative;
	padding-left: 0.4rem;
}

.topHeader .introduction i {
	margin: 0 0.1rem;
	color: #666;
}

.topHeader .introduction .dots {
	position: absolute;
	top: 0.1rem;
	left: 0;
}

.topHeader .select {
	display: block;
	width: 2rem;
	height: 0.8rem;
	background-color: #CE3A3D;
	color: #fff;
	line-height: 0.8rem;
	text-align: center;
	border-radius: 0.8rem;
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
}


/*----------------布局图顶部------------*/

.main {
	width: 100%;
	height: 100%;
	padding: 0.3rem;
	box-sizing: border-box;
	position: relative;
}

.main header {
	font-size: 0.35rem;
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	left: 1.5rem;
	color: #333;
	line-height: 0.45rem;
}

.main header ul {
	display: flex;
}

.main header ul li {
	flex: 1;
	padding-left: 0.1rem;
}


/*------------------布局图右侧时间---------*/

.main .left {
	width: 1.2rem;
	position: absolute;
	left: 0.3rem;
	top: 1.6rem;
	font-size: 0.32rem;
}

.main .left li {
	height: 7rem;
	color: #333;
	float: right;
}

.main .left li:last-child {
	height: 1rem;
}

.main .left i {
	margin: 0 0.1rem;
	color: #666;
}


/*------------------布局图中间表格---------*/

.main .distribution {
	width: 80%;
	position: absolute;
	top: 1.3rem;
	left: 1.5rem;
}

.main .distribution-heart {
	position: relative;
}

.main .distribution table {
	width: 100%;
}

.main .distribution tr {
	display: flex;
}

.main .distribution th {
	border-bottom: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
	height: 0.5rem;
	flex: 1;
}

.main .distribution tr th:first-child {
	border-left: 1px solid #E2E2E2;
}

.main .distribution td {
	border-bottom: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;;
	height: 1rem;
	flex: 1;
	position: relative;
}

.main .distribution tr td:first-child {
	border-left: 1px solid #E2E2E2;
}

.main .distribution td .dots {
	position: absolute;
	right: -0.2rem;
}

.main .distribution td .dots:nth-child(1) {
	top: -0.2rem;
}

.main .distribution td .dots:nth-child(2) {
	top: 0.15rem;
}

.main .distribution td .dots:nth-child(3) {
	top: 0.48rem;
}

.weizhi {
	top: 0.3rem!important;
}


/*-------------弹出框  327*187  1.74866----------------*/

.pop-up {
	width: 3.4rem;
	height: 1.94434rem;
	line-height: 0.5rem;
	position: absolute;
	z-index: 100;
	color: #fff;
	font-size: 0.33rem;
	box-sizing: border-box;
	display: none;
}
.pop-up>div{
	width:100%;
	height:100%;
	padding: 0.15rem 0.15rem 0.15rem 0.3rem;
	background-size: 100% 100%;
}
.back-red{
	background-image: url(../../images/party_group/33.png);
}
.back-blue{
	background-image: url(../../images/party_group/44.png);
}
.back-green{
	background-image: url(../../images/party_group/22.png);
}
.pop-up .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.reversal{
	transform: rotateY(180deg);
}
.reversal .wor{
	transform: rotateY(180deg);
}


/********************请选择党组遮罩层，请选择标签遮罩层****************/
.blackgroup_box,.blacktag_box,.blackspec_box{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7,17,27,0.8);
    display: none;
}
.blackgroup_box>.blackgroup_content,.blacktag_box>.blacktag_content,.blackspec_box>.blackspec_content{
    width: 85%;
    margin: 39% auto;
    font-size: 12px;
    color: #333333;
    background-color: #ffffff;
}
h3.group_h3,h3.tag_h3,h3.spec_h3{
    background: #ce3d2a;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.38rem;
}
.group_content,.tag_content,.spec_content{

}
.group_classify,.tag_classify{
    margin: 0.3rem auto 0.5rem;
    width: 90%;
}
.spec_classify{
    margin: 0.3rem auto 2.7rem;
    width: 90%;
}
.group_classify span,.tag_classify span{
    border: 1px solid #ce3d2a;
    border-radius: 36px;
    color: #ce3d2a;
    display: inline-block;
    line-height: 0.6rem;
    padding: 0 0.15rem;
    margin-top: 3%;
    margin-left: 0.6%;
}
.spec_classify>p{
    border: 1px solid #ce3d2a;
    border-radius: 36px;
    color: #ce3d2a;
    text-align: center;
    line-height: 0.6rem;
    padding: 0 0.15rem;
    width: 33%;
    margin: 7% auto 0;
}
.group_classify>p,.tag_classify>p{
    padding-left: 6%;
}
.group_classify span.active,.tag_classify span.active,.spec_classify>p.active{
    background-color: #ce3d2a;
    color: #fff;
}
.group_submit,.tag_submit,.spec_submit{
    border-top: 1px solid #e3e9ef;
}
.group_submit>button,.tag_submit>button,.spec_submit>button{
    width: 50%;
    float: left;
    border: 1px solid #e3e9ef;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    line-height: 1.2rem;
    font-size: 0.36rem;
}
.group_submit button:nth-child(1),.tag_submit button:nth-child(1),.spec_submit button:nth-child(1){
    color: #c2c2c2;
}
.group_submit button:nth-child(2),.tag_submit button:nth-child(2),.spec_submit button:nth-child(2){
    border-left: none;
    color: #ce3d3a;
}