/* 编辑页面 */
/*党员发展空间*/
/*******************头部样式******************/
.page{
    padding-bottom: 0.4rem;
}
header.head{
    width:100%;
    background: #ce3d2a;
}
header.head .head_return{
    line-height: 44px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin-top:20px;
}
header.head .head_return>i{
    display: inline-block;
    width: 0.3rem;
    height: 22px;
    margin-top: 11px;
    margin-left: 0.35rem;
    background: url(../../images/member_develop/return.png) no-repeat 100%;
    background-size: 100%;
    float: left;
}


/*************正文******************/
article{
    border-radius: 3px;
    width: 100%;
    margin-top: 0.3rem;
}
article .article_container{
    padding: 0.4rem;
    background: #ffffff;

}
article .article_container span{
    color: #999999;
    font-size: 0.38rem;
}
article .article_container>input{
    font-size: 0.38rem;
    margin-left: 5%;
    color: #333333;
    border: none;
    width: 84.5%;
}
article .article_container i{
    background: url(../../images/member_develop/edit.png) no-repeat;
    background-size: 100%;
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    right: 6%;
    top: 10%;
}
article .article_container p{
	text-align: center;
	margin-top: 0.2rem;
	color: #999999;
}
.apply{
    margin-top: 0.3rem;
    background: #ffffff;
    padding-bottom: 0.2rem;
    color:#666;
    line-height:0.5rem;
}
.apply>span{
    display: inline-block;
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
    color: #999999;
    font-size: 0.38rem;
}
.apply p{
    width: 92%;
    margin: 0.2rem auto;
    line-height: 0.5rem;
    color: #666666;
}
.apply .apply_left p{
    text-indent: 2em;
}

.apply_left{
     width: 83.5%;
}
.apply_left>div{
    width: 100%;
    min-height:6rem;
    margin-left: 4%;
    line-height: 0.6rem;
    color: #333333;
    border:none;
    resize:none;
}
.apply_left>div>img{
    width:100%;
}
.apply_right{
    width: 13%;
    background: #ce3d3a;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    position: fixed;
    top: 35%;
    right: 0;
}
.apply_right>p,.addPicture>p,.addFile>p{
    color: #fff;
    font-size: 0.38rem;
    padding-top: 13%;
    padding-bottom: 13%;

}
.addPicture,.addFile{
    border-top: 1px solid #da807f;
}
.apply_right .pictureBox,.apply_right .documentBox{
    width: 0.8rem;
    height: 0.9rem;
    margin: 0.2rem auto 0;
}
.apply_right .pictureBox{
    background: url(../../images/member_develop/picture.png) no-repeat;
    background-size: 100%;
}
.apply_right .documentBox{
    background: url(../../images/member_develop/attach.png) no-repeat;
    background-size: 100%;
}
.apply_right .pictureBox>input,.apply_right .documentBox>input{
    opacity: 0;
    width:100%;
    height:100%;
}

button.submitButton{
    background: #ce3d3a;
    border: 1px solid #ce3d3a;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    line-height: 0.5rem;
    padding: 2% 19%;
    margin-left: 27%;
    margin-top: 8.6%;
    margin-bottom: 18%;
    font-size: 0.38rem;
}

